# Ignore everything ...
*

# ... but "unignore" directories so that we can whitelist a specific folder:
!*/

# Whitelist the evlinkha component
!custom_components/evlinkha/
!custom_components/evlinkha/**

# Ignore Python cache
__pycache__/
**/__pycache__/
*.py[cod]
